.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px;
padding-left: 80px;
padding-right: 80px;
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 40px;
}